<template>
    <div class="container">
        <hr>
        <div class="col-sm-12">
            <textarea  class="form-control" rows="23" readonly=""> {{ messages.join('\n') }}</textarea>
            <input type="text" class="form-control" v-model="textMessage" @keyup.enter="sendMessage">
        </div>

    </div>
</template>

<script>
    export default {
        props: ['room'],
        data(){
            return{
                messages:[],
                textMessage:'',
                room_id:0,    
            } 
        },

        mounted() {
            console.log(this.room);
            window.Echo.private('room.' + this.room.id)
                .listen('PrivateChat', ({ data}) => {
                    this.messages.push(data.body)

                });

        },
        methods:{
            sendMessage(){

                axios.post('/messages22', { body: this.textMessage , room_id: this.room.id });
                this.messages.push(this.textMessage);

                this.textMessage='';

               //alert('okey');
            }


        }
    }
</script>
