<template>
    <div class="container">
        <hr>
        <div class="col-sm-8">
            <textarea  class="form-control" rows="23" readonly=""> {{ messages.join('\n') }}</textarea>
            <input type="text" class="form-control" v-model="textMessage" @keyup.enter="sendMessage" @keydown="actionUser"  >
              <span v-if="isActive">{{ isActive.name }} набирает сообщение ....</span>
        </div>
        <div class="col-sm-4">
            <ul>
                <li v-for="user in activeUsers"> {{user}} </li>
            </ul>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['room','user'],
        data(){
            return{
                messages:[],
                textMessage:'',
                room_id:0,
                isActive:false, 
                typingTimer:false,
                activeUsers:[]

            } 
        },

         computed:{
            channel(){
                return  window.Echo.join('room.' + this.room.id);
            }
        },


        mounted() {
            console.log(this.room);
                this.channel
                .here((users) =>{
                    this.activeUsers=users;
                })
                .joining((user) => {
                    this.activeUsers.push(user);
                })
                .leaving((user) =>{
                    this.activeUsers.splice(this.activeUsers.indexOf(user),1);
                })
                .listen('PrivateChat', ({ data}) => {
                    this.messages.push(data.body);
                    this.isActive =false;
                })
                .listenForWhisper('typingkostya', (e) =>{
                    this.isActive=e;

                    if(this.typingTimer) clearTimeout(this.typingTimer );


                    this.typingTimer = setTimeout(() => {
                          this.isActive = false;   
                    },2000);
                });

        },
        methods:{
            sendMessage(){

                axios.post('/messages22', { body: this.textMessage , room_id: this.room.id });
                this.messages.push(this.textMessage);

                this.textMessage='';

               //alert('okey');
            },
               actionUser(){
                 //var selff = this; 
                this.channel.whisper('typingkostya', {
                   name:this.user.name
                }) 
            }



        }
    }
</script>
